p {
    font-size: 60px;
    color: black;
    font-weight: bold;
    font-family: "Courier New";
}

.blink {
    animation-duration: 0.3s;
    animation-name: blink;
}

@keyframes blink {
    from {
        background-color: red;
    }

    to {
        background-color: white;
    }
}